extends emailBase 

block content 
    p ูุฑุญุจุง #{name} ๐ุ
        p ุจูุงุก ุนูู ุทูุจู ูุชุบููุฑ ูููุฉ ุงููุฑูุฑ ๐ ูุฑุณู ูู ูุฐู ุงูุฑุณุงูุฉ 
        p ูุชุบููุฑ ูููุฉ ุงููุฑูุฑ ุงูุฎุงุตุฉ ุจู ุจุฅููุงูู ุงูุถุบุท ุนูู ุงูุฒุฑ ุฃู ูุณุฎ ูุฐุง ุงูุฑุงุจุท ููุตูู ูู ุงููุชุตูุญ #{url}
        p ๐ ููุงุญุธุฉ: ุชูุชูู ุตูุงุญูุฉ ูุฐุง ุงูุฑุงุจุท ุจุนุฏ ุณุงุนุฉ โณ 
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') ุชุบููุฑ ูููุฉ ุงููุฑูุฑ
        
        p ุฅุฐุง ูู ุชูู ุฃูุช ูู ุทูุจ ุชุบููุฑ ูููุฉ ุงููุฑูุฑ ุจุฅููุงูู ุชุฌุงูู ูุฐู ุงูุฑุณุงูุฉ