extends emailBase 

block content 
    p ูุฑุญุจุง #{name} ๐ ุ 
        p .ุดูุฑูุง ูุชูุงุตูู ูุนูุงุ ุชู ุฅุฑุณุงู ุจุฑูุฏู ุงูุฅููุชุฑููู ุจูุฌุงุญ โจ.
        p  ูุฑูููุง ุณูุนูู ุฌุงูุฏุง ููุนุงูุฌุฉ ุฑุณุงูุชู ูุงูุฑุฏ ุนูููุง ูู ุฃูุฑุจ ููุช ูููู
        p .ุชุญูุงุชูุง ๐        

